{% extends "base.html" %}

<tle>{% block title %}<h1 align = "center"><b>HLS Login</b></h1>{% endblock %}</tle><br>

<cnt>{% block code %}
<form method="POST">
    <div class="form-group">
        <label for="contact">Mobile Number</label>
        <input
          type="contact"
          class="form-control"
          id="contact"
          name="contact"
          placeholder="Enter number"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
  <button type="submit" class="btn btn-primary">Login</button>
  </form> 
  {% endblock %}</cnt>


