{% extends "base.html"%}
{%block content%}
<h1>Medical History</h1>
<p>Name: (name...)</p>
<p>NRIC: (numer...)</p><hr>


<h3>Disability</h3>
<ul class="list-group list-group-flush" id="disabilities">
    {% for dis in user.disabilities %}
    Added on: {{ dis.disDate  }}
    <li class="list-group-item">{{  dis.disName  }}
        <button type="button" class="close" onClick="deleteDis({{dis.id}})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
    <form method="POST">
        <textarea name="disability" id="disability" class="form-control"></textarea>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-outline-primary">Add</button>
        </div>
    </form>

<hr>

<h3>Family History</h3>
<ol>
    <li>High Cholestrol</li>
    <li>High Blood Pressure</li>
</ol>
{% endblock %}