{% extends "base.html" %}

<tle>{% block title %}<h1 align = "center"><b>HLS Sign Up</b></h1>{% endblock %}</tle><br>
<cnt>{% block code %}
    <form method="POST" align = "center">
        <div class="form-group">
          <label for="fName">Patient Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fName"
            name="fName"
            placeholder="Enter full name"
          />
        </div>
        <div class="form-group">
          <label for="icnumber">Patient IC Number</label>
          <input
            type="icnumber"
            class="form-control"
            id="icnumber"
            name="icnumber"
            placeholder="Patient IC Number"
          />
        </div>
        <div class="form-group">
            <label for="contact">Mobile Number</label>
            <input
              type="contact"
              class="form-control"
              id="contact"
              name="contact"
              placeholder="Enter Mobile No."
            />
          </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email"
            />
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <div class="form-group">
          <label for="cpassword">Password (Confirm)</label>
          <input
            type="password"
            class="form-control"
            id="cpassword"
            name="cpassword"
            placeholder="Confirm password"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {% endblock %}</cnt>
