{% extends "base.html" %}
{% set active_page = 'about' %}
<!--Title-->
{%block title%} About {% endblock %}
<!--Content-->
{%block content%}
<h1 align = "center">About Healthy Life Style</h1>
<br><br>
<h2>Why choose Healthy Life Style?</h2>
<p>
    Have you ever wanted to keep track of your loved one(s) who are disadvantged? <br>
    Maybe they are diabetic and need to watch what they eat, or are on crutches due to an accidental fall. 
    In both cases, wouldn't you worry for them and wish to be rid of this constant stress?
    <br><br>Fret not, as that is what Healthy Life Style is here to solve!<br>
    Our web application allows for family members, caregivers and doctors to keep track of registered users who are disadvantaged, 
    along with a multitude of different unique features developed for specific disadvantages, 
    allowing for greater care to be administered through the internet.
    </p>
<br><br>
<h2>Features we provide</h2>
<br>
<h3 style="color:cornflowerblue">HLS Diary</h3>
<p>A diary for you to keep track of anything, be it your health status or personal matters</p>
<br>

<h3 style="color:cornflowerblue">User Info</h3>
<p>Shows you your personal information such as Basic Information, Disablities and Doctor's name</p>
<br>

<h3 style="color:cornflowerblue">BMI</h3>
<p>Learn more about your health status with BMI, a commonly used health indicator
    <br>
    The feature will let you know your BMI status and the potential health issues you face
</p>
<br>

<h3 style="color:cornflowerblue">Calories</h3>
<p>Calculate your calories requirement and actual calories intake for the day<br>
This feature will also allow you to record the BMI and Actual Calories Intake once a day to our system once you click the Calculate button</p>

<br>
<h3 style="color:cornflowerblue">Health Trend</h3>
<p>Using your recorded BMI and calories intake, you can generate a dashboard for to see how your 
    health changes over time.<br>If you do not have enough data, an example of the dashboard will be shown instead
</p>
<br>
<h3 style="color:cornflowerblue">Accidents</h3>
<p>
    For users with our Smart Crutch, we will be able to show the records of the user fall detected with our Smart Crutch
</p>
<br><br><br>
{% endblock%}