{% extends "base.html" %}
{% set active_page = 'health_trend' %}
<!--Title-->
{%block title%} Past Calories and BMI Trends {% endblock %}
<!--Content-->
{%block content%}

<h1 align="center">Health Trend</h1>
<br>
<p align="center">The <b>Health Trend</b> generates a dashboard consisting of your BMI and Calories Intake History
</p>
<br><br>
<style type="text/css">
    .chartBox{
        width: 800px;
        top: 50%;
        left: 50%;
    }
</style>
<div align="center" class="chartBox">
    <canvas id="bmiChart"></canvas>
</div>

<div align="center" class="chartBox">
    <canvas id="caloriesChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('bmiChart').getContext('2d')
    const myChart = new Chart(ctx, {
        type: 'line',
    data: {
        labels: {{dateList | safe}},
        datasets: [{
            label: 'BMI',
            data: {{bmiList | safe}},
            borderColor: "blue",
            backgroundColor: "#e755ba",
            pointBackgroundColor: "#55bae7",
            pointBorderColor: "#55bae7",
            pointHoverBackgroundColor: "#55bae7",
            pointHoverBorderColor: "#55bae7",
        }]
    },
    options:{
        plugins:{
            legend:{
                display: false
            },
            title:{
                display:true,
                text: 'BMI Dashboard',
                font: {
                    size:26
                }
            }
        }
    }
});
</script>
<br><br>

<script>
    const ctx1 = document.getElementById('caloriesChart').getContext('2d')
    const myChart1 = new Chart(ctx1, {
        type: 'line',
    data: {
        labels: {{dateList | safe}},
        datasets: [{
            label: 'Calories Intake',
            data: {{caloriesList | safe}},
            borderColor: "red",
            backgroundColor: "#e755ba",
            pointBackgroundColor: "#55bae7",
            pointBorderColor: "#55bae7",
            pointHoverBackgroundColor: "#55bae7",
            pointHoverBorderColor: "#55bae7",
        }]
    },
    options:{
        plugins:{
            legend:{
                display: false
            },
            title:{
                display:true,
                text: 'Calories Dashboard',
                font: {
                    size:26
                }
            }
        }
    }
});
</script>

<br><br><br>

{% endblock%}