{% extends "base.html" %}
{% set active_page = 'health_trend' %}
<!--Title-->
{%block title%} Past Calories and BMI Trends {% endblock %}
<!--Content-->
{%block content%}
<br>
<!--<h1 align = "center">Past Calories and BMI Trends</h1>
<img src="website/static/health_trend.png" width="1200" height="500" style="float:center"/>
-->
<!--<image src="{{url_for('static',filename = 'health_trend.jpg')}}" ></image>-->

<h3 align="center">Health Trend</h3>
<br><br>
<p align="center">The <b>Health Trend</b> feature will generate a dashboard consisting of your BMI and Calories Intake History
<br><br>The Dashboard will generate as a pop up</p>
<form method="POST" align="center">
    <button type="submit" class="btn btn-outline-primary" align="center">Generate Dashboard</button>
</form>


{% endblock%}