{% extends "base.html" %}
{% set active_page = 'home' %}
<!--Title-->
{%block title%} Home {% endblock %}
<!--Content-->
{%block content%}
<br>
<h1 align = "center">Welcome to Healthy Life Style!</h1>
<p>
<br>
Have you ever wanted to keep track of your loved one(s) who are disadvantged? <br>
Maybe they are diabetic and need to watch what they eat, or are on crutches due to an accidental fall. 
In both cases, wouldn't you worry for them and wish to be rid of this constant stress?
<br><br>Fret not, as that is what Healthy Life Style is here to solve!<br>
Our web application allows for family members, caregivers and doctors to keep track of registered users who are disadvantaged, 
along with a multitude of different unique features developed for specific disadvantages, 
allowing for greater care to be administered through the internet.
</p>
{% endblock%}
