{% extends "base.html"%}
<!--Title-->
{%block title%} Sign-Up {% endblock %}
<!--Content-->
{%block content%}
<form method="POST">
  <h3 align="center">HLS Sign Up</h3>
  <!--First Name-->
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
      required
    />
  </div>
  <!--Last Name-->
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      placeholder="Enter last name"
    />
  </div>
  <!--Email-->
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
      required
    />
  </div>
  <!--Mobile number-->
  <div class="form-group">
    <label for="mobileNum">Mobile Number</label>
    <input
      type="text"
      class="form-control"
      id="mobileNum"
      name="mobileNum"
      placeholder="Enter 8 digit mobile number"
    />
  </div>
  <!--NRIC/FIN-->
  <div class="form-group">
    <label for="nric">NRIC/FIN</label>
    <input
      type="text"
      class="form-control"
      id="nric"
      name="nric"
      placeholder="Enter NRIC/FIN"
    />
  </div>
  <!--address-->
  <div class="form-group">
    <label for="addr">Residential Address</label>
    <input
      type="text"
      class="form-control"
      id="addr"
      name="addr"
      placeholder="Enter your residential address"
    />
  </div>
  <!--Password-->
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
      required
    />
  </div>
  <!--Confirm Password-->
  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm Password"
    />
  </div>

  <!--Disability Checkboxes-->
  <fieldset >
  <legend>Disabilities</legend>
  <!--Diabetes-->
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Diabetes" id="flexCheckDefault" name="disability"/>
  <label class="form-check-label" for="flexCheckDefault">
    Diabetes
  </label>
  </div>
  <!--Handicapped-->
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Crutches" id="flexCheckChecked" name="disability" />
  <label class="form-check-label" for="flexCheckChecked">
    Handicap (Crutches)
  </label>
  </div>
  </fieldset>

   <!--Doctor Checkboxes-->
  <fieldset >
  <legend>Doctor</legend>
  <!--test docter-->
  <div class="form-check">
  <input class="form-check-input" type="radio" value="1" id="flexRadioDefault" name="doctor"/>
  <label class="form-check-label" for="flexRadioDefault">
    Test Doctor
  </label>
  </div>
  <!--ur mader-->
  <div class="form-check">
  <input class="form-check-input" type="radio" value="2" id="flexRadioChecked" name="doctor" />
  <label class="form-check-label" for="flexRadioChecked">
    Ginna
  </label>
  </div>
  </fieldset>

  <br/>
  <button type="submit" class="btn btn-outline-primary" align='center'>Sign Up</button>
</form>
{% endblock %}
