{% extends "base.html"%}

{% block title%}
User Info
{% endblock %}

{%block content%}
<h1 align="center">User Information</h1>
<h5>Name: {{ user.fullName() }}</h5>
<h5>Doctor: {{ user.dName() }}</h5>
<h5>NRIC: {{ user.nric }}</h5><hr>


<h5>Disability</h5>
<ul class="list-group list-group-flush" id="disabilities">
    {% for dis in user.disabilities %}
    {{ dis.disDate  }}
    <li class="list-group-item">{{  dis.disName  }}
        <!--<button type="button" class="close" onClick="deleteDis({{dis.id}})">
            <span aria-hidden="true">&times;</span>
        </button>-->
    </li>
    {% endfor %}
</ul>
<!--
    <form method="POST">
        <textarea name="disability" id="disability" class="form-control"></textarea>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-outline-primary">Add</button>
        </div>
    </form>
-->
<hr>

<h5>Family History</h5>
<ol>
    <li>High Cholestrol</li>
    <li>High Blood Pressure</li>
</ol>
{% endblock %}