aniso8601==9.0.1
autopep8==1.6.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
coverage==6.3
cryptography==36.0.1
cycler==0.11.0
ffmpeg==1.4
ffprobe==0.5
Flask==2.0.2
Flask-Login==0.5.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
fonttools==4.29.0
future==0.18.2
green==3.4.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.2
lxml==4.7.1
MarkupSafe==2.0.1
matplotlib==3.5.1
mpld3==0.5.7
numpy==1.22.1
olefile==0.46
packaging==21.3
pefile==2021.9.3
Pillow==9.0.0
plotly==5.5.0
postgres==4.0
psycopg2-binary==2.9.3
psycopg2-pool==1.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.13.0
pycryptodomex==3.13.0
pyparsing==3.0.7
pyperclip==1.8.2
pypiwin32==223
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2021.3
pywin32==303
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
tenacity==8.0.1
toml==0.10.2
Unidecode==1.3.2
unpy2exe==0.4
urllib3==1.26.8
Werkzeug==2.0.2
xlrd==2.0.1
