autopep8==1.6.0
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==8.0.3
colorama==0.4.4
comtypes==1.1.7
cryptography==2.9.2
cycler==0.10.0
ffmpeg==1.4
ffprobe==0.5
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.2
kiwisolver==1.2.0
MarkupSafe==2.0.1
matplotlib==3.3.1
numpy==1.18.5
olefile==0.46
Pillow==7.2.0
plotly==5.1.0
postgres==4.0
psycopg2-binary==2.9.1
psycopg2-pool==1.1
pycodestyle==2.8.0
pycparser==2.20
pygame==2.0.1
pyparsing==2.4.7
pyperclip==1.8.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.1
pywin32==228
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.4.27
tenacity==8.0.1
toml==0.10.2
unpy2exe==0.4
urllib3==1.25.9
Werkzeug==2.0.2
xlrd==2.0.1
